
<div class="text-center">

<%=image_tag "cupid.jpg",  width: 400 %>



<h1>Your order is confirmed and it's on its way!!!!</h1>

<p><%=link_to 'Return to Homepage', users_path, class:"btn btn-danger" %></p>

</div>